.nav-item a {
    color: #293C32;
    font-size: 20px;
    font-family: 'Red Hat Display', sans-serif;
}

.nav-btn {
    background-color: #F7F7F7;
    color: #97A98F !important;
    border-radius: 20px;
    padding: 10px 27px;
    font-family: 'Red Hat Display', sans-serif;
}

.heart-shape {
    width: auto;
    height: auto;
    position: absolute;
    top: -41px;
    left: 7px;
    z-index: -1;
}

.hero-head {
    color: #293C32;
    font-size: 45px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}

.hero-line {
    color: #878787;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
}

.coin-img {
    width: auto;
    height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
    .coin-img {
        width: 240px;
    }
}


.card-line {
    font-size: 14px;
    font-family: 'Red Hat Display', sans-serif;
    color: #878787;
}

.card-head {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 24px;
    color: #293C32;
}


.img-card {
    width: 50px !important;
    height: auto;
}

.card-box {
    box-sizing: border-box;
    background-color: #EDF4EA;
    width: 330px;
    height: 450px;
    border-radius: 34px;
    padding: 30px;
    font-family: 'Red Hat Display', sans-serif;
}

.num {
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bolder;
    margin-bottom: 78px;
}

.head-line-card {
    color: #293C32;
    font-size: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 23px;
}

.line-card {
    font-size: 17px;
    font-family: 'Red Hat Display', sans-serif;
    color: #293C32;
    line-height: 1.4;
}

.card-box1 {
    box-sizing: border-box;
    background-color: #E6F0D2;
    width: 330px;
    height: 450px;
    border-radius: 34px;
    padding: 30px;
    font-family: 'Red Hat Display', sans-serif;
}

.card-box2 {
    box-sizing: border-box;
    background-color: #D8E0C2;
    width: 330px;
    height: 450px;
    border-radius: 34px;
    padding: 30px;
    font-family: 'Red Hat Display', sans-serif;
}

.num1 {
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bolder;
    margin-bottom: 35px;
}

.pro-head {
    color: #82AC11;
    font-size: 55px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;

}

.small-card {
    box-sizing: border-box;
    background-color: #F7F7F7;
    width: 300px;
    height: 50px;
    border-radius: 43px;
    padding: 15px;
    font-family: 'Red Hat Display', sans-serif;
    color: #878787;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.plan-head {
    color: #CBCBCB;
    font-size: 55px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    padding-top: 150px;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
   
.plan-head {

    padding-top: 0px;
}
}

.plan-line{
    font-size: 22px;
    font-family: 'Red Hat Display', sans-serif;
    color: #878787;
    line-height: 1.4;
    
}

.small-head{
    font-size: 22px;
    font-family: 'Red Hat Display', sans-serif;
    color: #CBCBCB;
    font-weight: 700;
}

.footer-li a{
    color: #293C32 !important;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
}

.footer-li-green a{
    color: #8FBD12 !important;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
}
.owl-stage-outer .slick-slide .slick-current .slick-active{
    width: 1100px !important;
}